*{
    margin:0;
    padding: 0;
    font-family: Arial, sans-serif;
}
body{
    background-color: #216a7e;
}
.app-container{
    background-color: #fff;
    margin:50px auto;
    max-width:400px;
    padding:20px 40px;
    border-radius: 10px;
}
.app-container h2{
    margin-bottom: 15px; 
    padding-bottom:5px;
    border-bottom:2px solid grey;
}
#quiz p{
    font-size: 24px;
    margin-bottom:10px;
}
.optnBtn{
    width:100%;
    margin-bottom:10px;
    text-align: left;
    padding:5px;
    cursor:pointer;
    background-color: transparent;
    border:2px solid;
    font-size: 16px;
    border-radius: 3px;
}
.optnBtn:hover:not([disabled]){
    background-color: rgb(20, 20, 58);
    color:white;
}
.optnBtn:disabled{
    cursor:no-drop;
}
#nextBtn,#playAgain{
    padding: 10px 20px;
    font-size: 18px;
    border:none;
    background-color: #043542;
    color:#fff;
    border-radius: 5px;
    margin:auto;
    display:none;
    cursor:pointer;
}
.correct{
    background-color: green;
    color:white;
}
.incorrect{
    background-color: red;
    color:white;
}
#playAgain{
    display:none;
}